name: Test and Build

# Este workflow se ejecutar치 cada vez que se realice un push a la rama "main"
on:
  push:
    branches: [ "main" ]

# Permisos para leer el contenido del repositorio
permissions:
  contents: read

jobs:
  test_and_build: # Nombre del trabajo
    runs-on: ubuntu-latest # El trabajo se ejecutar치 en un entorno de Ubuntu
    steps: # Pasos a seguir para ejecutar el trabajo
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v3 
        with:
          python-version: "3.11"
      
      # Verificaci칩n de c칩digo con Ruff
      - name: Check code with ruff
        working-directory: src
        run: ruff check .

      - name: Install dependencies
        run: pip install -r src/requirements.txt
    
      - name: Test with pytest
        working-directory: src
        run: pytest test_main.py